[submodule "konstantinks/yii2-test1"]
	path = konstantinks/yii2-test1
	url = git@github.com:KonstantinKS/yii2-test1.git
[submodule "demliz/render-api-wrapper"]
	path = demliz/render-api-wrapper
	url = git@github.com:demliz-org/render-api-wrapper.git
